@import '~bootstrap/scss/bootstrap';

$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-image: url('./../public/map.png');
}

h1 {
  color: $font-color;
  text-align: center;
}

.success {
  border: 3px solid green;
}

.failure {
  border: 3px solid red;
}

#pre-auth {
  display: initial;
}

#auth {
  display: none;
}
